{% extends "base.html" %}

{% block body %}
<header class="container page-header">
  <img class="logo" src="/assets/nbsp-logo.png" alt="nbsp">
  <h1 class="title">non-breaking space</h1>
  <p class="subtitle">a thoughtful community forum platform</p>
</header>

<main class="container">
  <div class="under-construction">
    <p>
      nbsp is currently under construction, check back later!
      <br>
      Keep up with the development <a href="https://github.com/bearbearean/nbsp" target="_blank">on GitHub</a>.
    </p>
  </div>
</main>
{% endblock %}
