{% extends "base.html" %}

{% import "macros/header.html" as m_header %}

{% block body %}
{{ m_header::page_header(config, auth.user) }}

<main class="container">
  {% if let Some(notice) = config.nbsp_homepage_notice %}
  <div class="homepage-notice">
    <p>{{ notice|safe }}</p>
  </div>
  {% endif %}

  <div class="two-col-wrapper">
    {% if auth.user.is_none() %}
      <div class="register-an-account">
        <p>Have an invite code?</p>
        <a href="/account/register">Create your account here</a>
      </div>

      <div class="login-existing-account">
        <p>Already a member?</p>
        <a href="/account/login">Log in here</a>
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}
