{% extends "base.html" %}

{% import "macros/header.html" as m_header %}

{% block body %}
{{ m_header::page_header(config) }}

<main class="container">
  <form action="/account/login{% if let Some(redirect) = redirect %}?redirect={{ redirect|urlencode }}{% endif %}" method="post" class="form">
    <h2>Log in to your account</h2>

    {% if let Some(error_message) = form_error_message %}
      <div class="error-message">
        <p>{{ error_message }}</p>
      </div>
    {% endif %}

    <div class="label-input">
      <label class="label" for="username">Username</label>
      <input class="input" type="text" name="username" id="username"
        minlength="{{ User::USERNAME_LENGTH.start() }}"
        maxlength="{{ User::USERNAME_LENGTH.end() }}"
        required>
    </div>

    <div class="label-input">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" name="password" id="password"
        minlength="{{ User::PASSWORD_LENGTH.start() }}"
        maxlength="{{ User::PASSWORD_LENGTH.end() }}"
        required>
    </div>

    <div>
      <button class="submit" type="submit">Log in</button>
    </div>
  </form>
</main>
{% endblock %}
