{% extends "base.html" %}

{% import "macros/header.html" as m_header %}

{% block body %}
{{ m_header::page_header(config) }}

<main class="container">
  <h2>{{ target_user.username }}</h2>

  <p>
    Joined on <time datetime="{{ target_user.created_at.format("%F" ) }}">{{ target_user.created_at.format("%B %e, %Y" ) }}</time>.
  </p>

  {% if let Some(auth_user) = auth.user && auth_user.is(&target_user) %}
  <p>
    <a href="/account/invites">Manage your invite codes</a>
  </p>

  <p>
    <a href="/account/logout">Click here to log out</a>
  </p>
  {% endif %}
</main>
{% endblock %}
