@import "http-status-page.css";

/* Reset browser default styles */
html {font-size:62.5%;}
body {font-size:1.6rem;}
ol, ul, li, p, h1, h2, h3, h4, h5 {margin:0;padding:0;}
/* - */

a {
  color: #19f754;
}

body {
  background-color: #2c2c2c;
  color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

.page-header {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  margin-bottom: 10px;
  margin-top: 10px;

  .logo {
    align-self: center;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px #000000;
    grid-row: span 2;
    height: 48px;
  }

  .title {
    align-self: flex-end;
    font-size: 2.8rem;
  }

  .subtitle {
    align-self: flex-start;
    font-size: 1.6rem;
  }
}

.homepage-notice {
  background-color: #ffc10711;
  border: 1px solid #ffc107;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.register-an-account {
  background-color: #c1ff0711;
  border: 1px solid #c1ff07;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
}

.page-footer {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  display: grid;
  grid-template-columns: auto min-content;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

  .slogan,
  .version {
    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form {
  background-color: #262626;
  border-radius: 4px;
  box-shadow: 0 0 4px 0px #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  .label-input {
    .label {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .input {
      background: #202020;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 0 4px 0px #000000;
      color: #ffffff;
      display: block;
      max-width: 400px;
      padding: 4px;
      width: 100%;

      &:focus {
        outline: 2px dashed #07a1ff;
        outline-offset: 2px;
      }

      &:valid {
        border-color: #81ff07bb;
      }

      &:invalid {
        border-color: #ff4107bb;
      }
    }
  }

  .label-input:has(.input:required) .label::after {
    color: #ff6127;
    content: '*';
  }

  .submit {
    background-color: #c1ff0711;
    border: 1px solid #c1ff07;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;

    &:hover {
      background-color: #c1ff0722;
    }
  }
}

.register-requirements {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .list {
    margin-left: 1.6rem;
  }
}
